<div class="jumbotron text-center">
    <h1 style="color:white;font-weight:bold">WaterWEB</h1>
    <p class="lead" style="color:white">Welcome to WaterWEB HomePage to view all your water details</p>
    <div>
      <a class="btn btn-default" [routerLink]="['/login']">Login</a>
      <a class="btn btn-danger" [routerLink]="['/admin']" style="color:white">Admin</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h3>Water Level Monitoring</h3>
      <p>A WebApp for Monitoring water level of tank and water consumption of each user </p>
    </div>
    <div class="col-md-4">
      <h3>Live Data Visualization</h3>
      <p>Chart.js used to plot dynamic data for each user.Data got updated by the sensor hourly and can be preview
        using chart.js line plot.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Admin Water Monitoring</h3>
      <p>Admin UI for monitoring water level of each user in building and can also watch past water consumption</p>
    </div>
  </div>
  